.footer-container {
    width: 100%;
    position: absolute;
    top: 35rem;
    margin-top:4rem;
    text-align: center;
    color: white;
}

.technologies {
    padding-top: 1rem;
    background-color : #007bfd ;
    height : 30vh;
}

.technologies i {
    font-size: 3rem;
}
.technologies img {
    width : 10rem;
}

.technologies-grid {
    display: grid;
    grid-template-columns: repeat(5,10%);
    grid-column-gap: 5%;
    justify-content: center;
    text-align : center;
    align-items: center;
}